// colors
$col-brand-primary: #5200FF;
$col-background: #efefef;

$col-foreground: #222222;
$col-accent: lighten($col-foreground, 30%);
$col-accent-light: #cccccc;

// dimensions
$dim-full-width: 1200px;
