.field {
  margin-bottom: 16px;

  &__label {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding-left: 16px;
    margin-bottom: 5px;
  }

  &__input {
    border: 2px solid;
    border-radius: 8px;
    font-size: 14px;
    padding: 16px;
    width: calc(100% - 32px);

    &--textarea {
      height: 160px;
    }
  }
}